body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 20px;
}

form {
    margin: 20px 0;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form label {
    margin-right: 10px;
}

form input {
    margin-right: 20px;
    padding: 5px;
}

form button {
    padding: 5px 10px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.action-buttons {
    display: none;
}

.contact:hover .action-buttons {
    display: block;
}

.action-buttons button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.special-care {
    color: pink;  /* 将特别关心联系人的姓名显示为粉色 */
}
